<div class="sectionInfo">
  <div class="leftSide">
    <h2>Educación</h2>
  </div>
  <div class="rightSide">
    <button class="btn" (click)="onShowAdd()"><img src="./assets/add.png" alt="Agregar"></button>
  </div>
</div>

<ng-container *ngIf="this.showAdd">
  <app-add-education [addMode]="true" (addEduc)="addEducation($event)" ></app-add-education>
</ng-container>

<ng-container *ngFor="let singleEd of education">
  <app-single-education [singleEd]="singleEd" (onDel)="onDeleteEducation($event)" (onEdit)="onEditEducation($event)"></app-single-education>
</ng-container>
