<div class="sectionInfo">
  <div class="leftSide">
    <div>
      <img src={{experience.logo}} onerror="this.onerror=null;this.src='../../assets/no-image-icon-4.png'" alt={{experience.company}} class="logoSmall">
      <div>
        <h3>{{experience.title}}</h3>
        <p>{{experience.company}} - <b>{{experience.timeWork}}</b></p>
        <p><b>{{getDate(experience.startDate)}} - {{getDate(experience.endDate)}}</b> - {{getTimeWorked(experience.startDate, experience.endDate)}}</p>
        <p>{{experience.description}}</p>
      </div>
      <form *ngIf="this.editable && this.isLoggedIn">  
        <app-add-experience [experience]="experience" [addMode]="false" (edExp)="onEditEx($event)"></app-add-experience>
      </form>
    </div>
  </div>
  <div class="rightSide">
    <button *ngIf="this.isLoggedIn" class="btn"><img src="./assets/edit.png" (click)="onEditShow()" alt="Lapiz de edición"></button>
    <button *ngIf="this.isLoggedIn" class="btn"><img src="./assets/delete.png" (click)="onDelete(experience.id.toString())" alt="borrar"></button>
  </div>
</div>  