<div class="leftSide  mt-5">
  <div>
    <a href={{this.portfolio.url}}><img src={{this.portfolio.image}} onerror="this.onerror=null;this.src='../../assets/no-image-icon-4.png'" class="logoSmall" alt={{this.portfolio.name}}></a>
    <div>
      <h5>{{this.portfolio.name}}</h5>
      <p>{{this.portfolio.description}}</p>
      <b>{{getDate(this.portfolio.startDate)}} - {{getDate(this.portfolio.endDate)}}</b>
    </div>
  </div>
</div>
<ng-container *ngIf="this.showEditPort">
  <app-add-portfolio [addMode]="false" [port]="this.portfolio" (edPort)="onEditPort($event)"></app-add-portfolio>
</ng-container>
<div class="rightSide mt-5">
  <button *ngIf="this.isLoggedIn" class="btn"><img src="./assets/edit.png" (click)="onShowEdit()" alt="Lapiz de edición"></button>
  <button *ngIf="this.isLoggedIn" class="btn"><img src="./assets/delete.png" alt="borrar" (click)="onDeletePort(this.portfolio.id.toString())"></button>
</div>