<div class="sectionInfo">
  <div class="leftSide">
    <h2>Experiencia</h2>
  </div>
  <div class="rightSide">
    <button *ngIf="this.loggedIn" class="btn" (click)="onAddExperienceButton()"><img src="./assets/add.png" alt="Agregar"></button>
  </div>
</div>

<div *ngIf="this.addExperience && this.loggedIn" class="m-3">
  <app-add-experience [addMode]="true" (addExp)="onAddExperience($event)"></app-add-experience>
</div>

<ng-container *ngFor="let experience of experiences">
  <app-single-experience [isLoggedIn]="this.loggedIn" [experience]="experience" (onEdit)="onEditExperience($event)" (onDel)="onDeleteExperience($event)"></app-single-experience>
</ng-container>


