<div class="container">
  <img src="./assets/login/bg-stone.png" alt="backgroundImage" class="bg-img">
  <div class="superCard">
    <div class="leftLoginSide">
    </div>
    <div class="rightLoginSide">
      <img src="./assets/login/bg-stone.png" alt="backgroundImage" class="bg-img">
      <div class="headCard">
        🙋🏻‍♂️ ¡Bienvenido a mi login, extraño! <br>
        🧐 No deberías estar acá  <br>
        😜 Así que no intentes loguearte si no eres: YO 
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
        <div class="card">
          <div class="contCard">
            <input type="text" id="user" matInput formControlName="username" placeholder="Mi usuario ultra secreto">
            <input type="password" matInput formControlName="password" id="password" placeholder="Mi contraseña ultra secreta">
          </div>
          <div class="footCard">
            <button class="btn btn-outline-dark login" type="submit">Login</button>
          </div>
        </div>
      </form>
      <div class="volverIndex">
        <a routerLink="/inicio">Volver al portafolio</a>
      </div>
    </div>
  </div>
</div>