<div class="sectionInfo">
  <div class="leftSide">
    <h2>Portafolio</h2>
  </div>
  <div class="rightSide">
    <button *ngIf="this.loggedIn" class="btn" (click)="onShowAdd()"><img src="./assets/add.png" alt="Agregar"></button>
  </div>
</div>

<div *ngIf="this.showAdd && this.loggedIn" class="m-3">
  <app-add-portfolio [addMode]="true" (addPort)="addPortfolio($event)"></app-add-portfolio>
</div>
<!-- Renderizando Proyectos-->
  <ng-container *ngFor="let sPort of portfolio">
    <app-single-portfolio [isLoggedIn]="this.loggedIn" [portfolio]="sPort" (onDelete)="deletePortfolio($event)" (onEdit)="editPortfolio($event)"></app-single-portfolio>
  </ng-container>
