<div class="sectionInfo">
  <div class="leftSide">
    <div>
      <img src={{singleEd.image}} onerror="this.onerror=null;this.src='../../assets/no-image-icon-4.png'" class="logoSmall" alt={{singleEd.educationalEstablishment}}>
      <div>
        <h3>{{singleEd.educationalEstablishment}}</h3>
        <p>{{singleEd.careerTitle}}</p>
        <p><b>{{getDate(singleEd.startDate)}}  -  {{getDate(singleEd.endDate)}}</b></p>
      </div>
    </div>
  </div>
  <div class="rightSide">
    <button  *ngIf="this.isLoggedIn" class="btn" (click)="clickEdit(singleEd.id.toString())"><img src="./assets/edit.png" alt="Lapiz de edición" ></button>
    <button *ngIf="this.isLoggedIn" class="btn" (click)="clickDelete(singleEd.id.toString())"><img src="./assets/delete.png" alt="borrar"></button>
  </div>
</div>

<ng-container *ngIf="openEdition && this.isLoggedIn">
  <app-add-education [education]="singleEd" (edEduc)="editEduc($event)"></app-add-education>
</ng-container>